.feedback-form {
    overflow: hidden;
    
}

.wrapper.feedback-form {
    margin-top: 20px;
    margin-left: 60px;
}
.comment-image-input {
    display: flex;
    justify-content: space-between;
    
}
.head-form__heading {
    font-size: 2.2rem;
    font-weight: 400;
    text-align: center;
    color: #00b4d8;
}
.head-form__heading2 {
    font-size: 1.4rem;
    font-weight: 400;
    text-align: center;
    color: #00b4d8;
}
.image img {

    border-radius: 5px;
    object-fit: cover;
    height: 100%;
    width: 300px;
}
/* Block */
.btn{
    display: inline-block;
    text-decoration: none;  
    background-image: linear-gradient(to bottom right, #00b4d8 , blue);
    border: none;
    outline: none;
    color: #fff;
    font-size: 18px;
    padding: 12px 38px;
    border-radius: 50px;  
    cursor: pointer;
    min-width: 100px; 
    transition: opacity .2s ease;
}
.btn:hover{  
    opacity: 0.8;
}
.btn + .btn{
    margin-left: 16px;
}
.feedback-input__form {
    width: calc(1200px - 300px);
    min-height: 400px;
    height: 800px;
    border-radius: 5px; 
    box-shadow: 0 9px 50px hsla(20, 67%, 75%, 0.31);
    padding: 2%;
    
}
.inner-form {
    margin: 20px 0;
    width: 1200px;
    height: 800px;
    border: 0.5px solid #000;
    border-radius: 20px;
    background-color: #fff;
    box-shadow: var(--festival-shadow);
    overflow: hidden;
}

.full-name {
    position: relative;
}
.email {
    position: relative;
}
.comment-input{
    position: relative;
}
.input-image{
    position: relative;
}
.form-label {
    position: absolute;
    top: 50%;
    left: 22px;
    transform: translateY(-50%);
    user-select: none;
    color: #999;
    pointer-events: none;
    transition: .25s ease;
    font-weight: 500;
    font-size: 140%;
}
.form-input:not(:placeholder-shown) + .form-label,
.form-input:focus + .form-label {
    top: 8px;
    padding: 4px;
    display: inline-block;
    background-color: transparent;
    color: #00b4d8;
}
.form-input {
    width: 100%;
    height: 50px;
    margin-top: 16px;
    margin-bottom: 16px;
    padding: 0px 20px;
    font-size: 1.4rem;
    border-radius: 4px;
    border: 3px solid #eee;
    outline: none;
    transition: .25s ease;
}
.form-input:focus {
    border-color: #00b4d8;
}

#feedback-comment {
    width: 387px;
    height: 200px;
}
.title-input-image {
    font-size: large;
    font-weight: 500;
    font-family: 'Courier New', Courier, monospace;
}
.input-image {
    margin-left: 16px;
    margin-top: 16px;
}
.input-image_container {
    width: 450px;
    height: 300px;
}
.input-image_container .input-image_wrapper {
    position: relative;
    height: 200px;
    width: 100%;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    border: 2px dashed #ccc;
    overflow: hidden;
}
.input-image_wrapper .input-costumer-image {
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.input-image_wrapper .input-costumer-image img {

}

.input-image_wrapper .icon {
    font-size: 50px;
    color: #00b4d8;
    text-align: center;
}
.input-image_wrapper .text-line {
    font-size: 20px;
    font-weight: 500;
    color: #00b4d8;
}
.input-image_wrapper #cancel-btn {
    position: absolute;
    top: 15px;
    right: 15px;
    font-size: 20px;
    cursor: pointer;
    color: #00b4d8;
}
.input-image_wrapper .file-name {
    position: absolute;
    bottom: 0;
    width: 100%;
    text-align: center;
    color: #fff;
    padding: 8px 0;
    font-size: 18px;
    background-image: linear-gradient(to bottom right, #00b4d8 , blue);
}
.input-image_container #custom-btn {
    margin-top: 30px;
    width: 100%;
    height: 50px;
    border: none;
    display: block;
    text-transform: uppercase;
    letter-spacing: 1px;
    cursor: pointer;
    font-weight: 500;
    border-radius: 25px;
    color: #fff;
    font-size: 18px;
    background-image: linear-gradient(to bottom right, #00b4d8 , blue);
}