.feedback-form {
    overflow: hidden;
    
}

.wrapper.feedback-form {
    margin-top: 20px;
    margin-left: 60px;
}
.comment-image-input {
    display: flex;
    justify-content: space-between;
    
}
.head-form__heading {
    font-size: 2.2rem;
    font-weight: 400;
    text-align: center;
    color: #00b4d8;
}
.head-form__heading2 {
    font-size: 1.4rem;
    font-weight: 400;
    text-align: center;
    color: #00b4d8;
}
.image img {

    border-radius: 5px;
    object-fit: cover;
    height: 100%;
    width: 300px;
}
/* Block */
.btn{
    display: inline-block;
    text-decoration: none;  
    background-color: #00b4d8;
    border: none;
    outline: none;
    color: black;
    padding: 12px 38px;
    border-radius: 50px;  
    cursor: pointer;
    min-width: 100px; 
    transition: opacity .2s ease;
}
.btn:hover{  
    opacity: 0.8;
}
.btn + .btn{
    margin-left: 16px;
}
.feedback-input__form {
    width: calc(1200px - 300px);
    min-height: 400px;
    height: 600px;
    border-radius: 5px; 
    box-shadow: 0 9px 50px hsla(20, 67%, 75%, 0.31);
    padding: 2%;
    
}
.inner-form {
    margin: 20px 0;
    width: 1200px;
    height: 600px;
    border: 0.5px solid #000;
    border-radius: 20px;
    background-color: #fff;
    box-shadow: var(--festival-shadow);
    
}

.full-name {
    position: relative;
}
.email {
    position: relative;
}
.comment-input{
    position: relative;
}
.input-image{
    position: relative;
}
.form-label {
    position: absolute;
    top: 50%;
    left: 22px;
    transform: translateY(-50%);
    user-select: none;
    color: #999;
    pointer-events: none;
    transition: .25s ease;
    font-weight: 500;
    font-size: 140%;
}
.form-input:not(:placeholder-shown) + .form-label,
.form-input:focus + .form-label {
    top: 16px;
    padding: 4px;
    display: inline-block;
    background-color: white;
    color: aqua;
}
.form-input {
    width: 100%;
    height: 50px;
    margin-top: 16px;
    margin-bottom: 16px;
    padding: 0px 20px;
    font-size: 1.4rem;
    border-radius: 4px;
    border: 3px solid #eee;
    outline: none;
    transition: .25s ease;
}
.form-input:focus {
    border-color: aqua;
}

#feedback-comment {
    width: 387px;
    height: 200px;
}
.title-input-image {
    font-size: large;
    font-weight: 500;
    font-family: 'Courier New', Courier, monospace;
}
.input-image {
    margin-left: 16px;
}